.navbar {
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  
  background: rgba(120, 53, 15, 0.5);

  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;

  height: 30px;
  a:hover {
    font-weight: 700;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    
  }

  img {
    height: 30px;
    width: 30px;
  }
}